//
   Created by nayab on 11/5/16.
.navbar-right(ng-controller="navBarLoginController")
    form.navbar-form(ng-hide="isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email", ng-model="userName")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signIn(userName, password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
                span {{ fullName }}&nbsp;
                i.fa.fa-user &nbsp;
                b.caret
            ul.dropdown-menu
                li
                    a(href="#", ng-click="signOut()")
                        span Sign Out &nbsp;
                        i.fa.fa-fw.fa-power-off

